[flake8]
exclude = assets/migrations, authentication/migrations, static, venv, manage.py, settings.py
application-import-names =
    assets,
    cloud_assets,
    common
import-order-style = google
max-line-length = 100
