{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col col-md-12">
                <div class="p-1"></div>
                {% if folder_obj %}
                    {% if folder_obj.parent_id is None %}
                        <a href="{% url 'root_page' %}" class="btn btn-primary btn-sm">Back</a>
                    {% else %}
                        <a href="?folder={{ folder_obj.parent_id }}" class="btn btn-primary btn-sm">Back</a>
                    {% endif %}

                {% endif %}
                <a class="btn btn-primary btn-sm" aria-current="page"
                   href="upload_file/?folder={{ folder_obj.pk }}">Upload
                    File in
                    current directory</a>
                <a class="btn btn-primary btn-sm" href="create-folder/?folder={{ folder_obj.pk }}">Create new
                    folder</a>
            </div>
        </div>
        <div class="p-1"></div>
        <div class="row">
            <div class="col col-md-12">
                <ul class="list-group">
                    {% for row in rows %}
                        {% if row.is_folder %}
                            <li class="list-group-item p-2">
                                <a href="/?folder={{ row.id }}"><i class="material-icons">folder_open</i>{{ row.title }}
                                </a>
                                <a href="delete-folder/?folder={{ row.id }}" class="btn btn-outline-primary btn-sm"
                                   onclick='return confirm("Are you sure?")'>Delete</a>
                                <a href="assets/folder/{{ row.id }}/rename/"
                                   class="btn btn-outline-primary btn-sm">Rename</a>
                            </li>


                        {% else %}
                            <li class="list-group-item p-2">
                                <span class="material-icons">description</span>{{ row.title }}
                                <a href="download/?file={{ row.id }}"
                                   class="btn btn-outline-primary btn-sm">Download</a>
                                <a href="delete/?file={{ row.id }}" onclick='return confirm("Are you sure?")'
                                   class="btn btn-outline-primary btn-sm">Delete</a>
                                <a href="move/?file={{ row.id }}" class="btn btn-outline-primary btn-sm">Move</a>
                                <a href="rename-file/?file={{ row.id }}"
                                   class="btn btn-outline-primary btn-sm">Rename</a>
                                <a href="assets/files/{{ row.id }}/share/"
                                   class="btn btn-outline-primary btn-sm">Share</a>
                            </li>

                        {% endif %}

                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    {% if shared_rows %}

        <div class="container-fluid">
        <h5>Shared files:</h5>
            <div class="row">
                <div class="col col-md-12">
                    <ul class="list-group">
                        {% for shared_row in shared_rows %}
                            <li class="list-group-item p-2">
                                {{ shared_row.file.title }}
                                {% for permission in shared_row.permissions.all %}
                                    {% if permission.name == 'read_only' %}
                                        |      <a href="/assets/files/{{ shared_row.file.pk }}/share/download/"
                                                  class="btn btn-outline-primary btn-sm">{{ permission }}</a>
                                    {% elif permission.name == 'rename_only' %}
                                        |     <a href="/assets/files/{{ shared_row.file.pk }}/share/rename/"
                                                 class="btn btn-outline-primary btn-sm">{{ permission }}</a>
                                    {% elif permission.name == 'delete_only' %}
                                        |     <a href="/assets/files/{{ shared_row.file.pk }}/share/delete/"
                                                 onclick='return confirm("Are you sure?")'
                                                 class="btn btn-outline-primary btn-sm">{{ permission }}</a>
                                    {% endif %}
                                {% endfor %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
