{% extends 'base.html' %}

{% block content %}
    <br>
    {% for row in rows %}
        <b>{{ row.file.title }} | {{ row.user }} | {{ row.expired }}</b>| <a href="/assets/files/share/{{ row.pk }}/update/">Change</a> |
        <a href="/assets/files/share/{{ row.id }}/delete/"
        onclick='return confirm("Are you sure?")'>Delete Share</a><br>
        <ul>
        {% for permission in row.permissions.all %}
            <li>{{ permission }}</li>
        {% endfor %}
        </ul>
        <hr>
    {% endfor %}
    <br>
    {% if parent_folder %}
        <a href="/?folder={{ parent_folder }}">Back</a>
    {% else %}
        <a href="{% url 'root_page' %}">Back</a>
    {% endif %}
{% endblock %}

