{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">
    <title>{% block title %} Cloud Assets {% endblock %}</title>
  </head>
  <body>
  {% include 'inc/_nav.html' %}

  {% block messages %}
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'error' %}
                <div class="alert alert-danger" role="alert"> {{ message }} </div>
            {% else %}
                <div class="alert alert-{{ message.tags }}" role="alert"> {{ message }} </div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}
{% block content %} {% endblock %}
    <script src="{% static 'bootstrap/js/bootstrap.bundle.js' %}"></script>
  </body>
</html>